#include "AUTORPLY.RCH"

DLGTEMPLATE ID_AUTORPLYFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_AUTORPLYFORM,
            0,0,221,120,
            0,  FCF_NOBYTEALIGN | FCF_DLGBORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "", NOTE_FROM,
            16,99,184,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x10101
    CONTROL "", NOTE_NOTE,
            16,31,184,52,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000017 
    CONTROL "Close", NOTE_CLEAR,
            8,5,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000400 
    CONTROL "Auto Response from sticky:", AUTO_HOST,
            8,26,200,68,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "Received at:", 1006,
            54,16,60,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000601 
    CONTROL "Sticky Ver:", 1007,
            54,6,60,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000601 
    CONTROL "Information not sent", AUTO_TIME,
            120,16,96,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "Information not sent", AUTO_VERSION,
            120,6,96,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "Auto Reply From:", NOTE_FROM_TXT,
            8,94,200,21,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
  END
END

HELPSUBTABLE ID_AUTORPLYFORM
BEGIN
END
ICON ID_AUTORPLYFORM "D:\\PROJECTS\\STICKY2\\STICKY6.ICO"
