#include "CONFIG.RCH"

DLGTEMPLATE ID_CONFIGFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Configure Sticky/2", ID_CONFIGFORM,
            0,0,312,164,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "Done", DONE_CONFIG,
            18,3,36,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000400 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", OPTIONS_FOLDER,
            6,16,66,131,
            WC_CONTAINER, WS_VISIBLE | WS_CLIPCHILDREN | WS_TABSTOP | 0x0000003c 
            CTLDATA 136,0,2,0,32,0,34068,0,20,1,67,0,24,0,0,0,9064,
                    8,0,0,25417,28271,8448,8,13121,7121,608,32768,
                    12,0,15,0,453,0,624,0,32,0,35857,0,20,1,613,32768,
                    20,0,0,0,608,32768,0,0,24910,25965,60160,23,13480,
                    7120,35036,4809,8716,8,9705,7120,614,32768,4196,
                    0
    CONTROL "", OPTIONS_NOTEBOOK,
            78,0,234,160,
            WC_NOTEBOOK, WS_VISIBLE | WS_CLIPCHILDREN | WS_TABSTOP | 0x00000481 
    CONTROL "Click to Select", 1002,
            2,150,75,11,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_CONFIGFORM
BEGIN
  HELPSUBITEM  OPTIONS_FOLDER, 1200
  HELPSUBITEM  DONE_CONFIG, 1200
END
ICON ID_CONFIGFORM "D:\\PROJECTS\\STICKY2\\STICKY4.ICO"
