#include "Main.RCH"

DLGTEMPLATE ID_MAINFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Sticky/2", ID_MAINFORM,
            0,0,256,114,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MAXBUTTON | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "Send", SEND_MAIN,
            0,2,35,15,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000400 
    CONTROL "Config", CONFIG_MAIN,
            35,2,35,15,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Clear", CLEAR_MAIN,
            70,2,35,15,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Exit", EXIT_MAIN,
            105,2,35,15,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "#1", ICON_MAIN,
            234,2,20,16,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000003 
    CONTROL "Version:", 1004,
            140,0,40,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "", STATUS_MAIN,
            5,32,247,81,
            WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "OS/2 1.21", VERSION_MAIN,
            180,0,55,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "About", ABOUT_MAIN,
            198,8,35,9,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "#1", STICKY_ICO,
            0,0,20,16,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000003 
  END
END

HELPSUBTABLE ID_MAINFORM
BEGIN
  HELPSUBITEM  SEND_MAIN, 1010
  HELPSUBITEM  CONFIG_MAIN, 1020
  HELPSUBITEM  CLEAR_MAIN, 1030
  HELPSUBITEM  EXIT_MAIN, 1040
  HELPSUBITEM  ABOUT_MAIN, 1050
END
ICON ID_MAINFORM "D:\\PROJECTS\\STICKY2\\STICKY3.ICO"
