#include "O_AUTO.RCH"

DLGTEMPLATE ID_O_AUTOFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_O_AUTOFORM,
            0,0,209,104,
            NOT FS_DLGBORDER, 0
  BEGIN
    CONTROL "Enable Auto Reply", ENABLE_AUTO,
            6,90,96,9,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
    CONTROL "Include Version number", VERSION_AUTO,
            13,70,138,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"9.Helv"
    CONTROL "Include Local Time Received", TIME_AUTO,
            13,62,138,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"9.Helv"
    CONTROL "Include Your Name", NAME_AUTO,
            13,54,138,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"9.Helv"
    CONTROL "Auto Reply options", 1004,
            5,51,155,36,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "", TEXT_AUTO,
            10,3,190,26,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000007 
    CONTROL "Enter your reply message (255 characters)", 1006,
            10,32,190,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_FONTNAMESIZE,"10.Helv"
  END
END

HELPSUBTABLE ID_O_AUTOFORM
BEGIN
END
ICON ID_O_AUTOFORM "D:\\PROJECTS\\STICKY2\\sticky7.ICO"
