#include "O_CONFIG.RCH"

DLGTEMPLATE ID_O_CONFIGFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_O_CONFIGFORM,
            0,0,210,101,
            NOT FS_DLGBORDER, 0
  BEGIN
    CONTROL "Close window after SEND", SEND_CONFIG,
            6,85,144,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Close window after REPLY", REPLY_CONFIG,
            6,77,144,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Popup Sticky on Receive", BACKGROUND_CONFIG,
            6,69,144,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Beep", BEEP_CONFIG,
            15,21,96,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", FREQUENCY_CONFIG,
            72,10,40,9,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", DURATION_CONFIG,
            155,10,40,9,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000010 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Frequency", 1006,
            16,10,56,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Duration", 1007,
            115,10,40,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Beep on Receive", 1008,
            12,6,192,34,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "Display 'Are You Sure Prompts'", SURE_CONFIG,
            6,61,144,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Mini ICON when shrunk", MINI_CONFIG,
            6,53,144,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Seconds to clear AutoReply's", 1011,
            12,42,112,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x10101
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", CLEAR_CONFIG,
            124,42,30,8,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000010 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_O_CONFIGFORM
BEGIN
END
