#include "O_DEBUG.RCH"

DLGTEMPLATE ID_O_DEBUGFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_O_DEBUGFORM,
            0,0,210,101,
            NOT FS_DLGBORDER, 0
  BEGIN
    CONTROL "Log Sent & Received Sticky's to file", LOG_DEBUG,
            16,73,184,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
    CONTROL "Debug Log", DEBUG_DEBUG,
            16,47,96,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
    CONTROL "Sticky Status", STATUS_DEBUG,
            16,21,96,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
    CONTROL "", STATUS_SPIN,
            147,21,42,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011 
    CONTROL "Lines", 1004,
            119,21,28,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
    CONTROL "(STICKY2.LOG)", 1005,
            32,62,96,11,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "(STICKY2.DBG)", 1006,
            32,36,96,11,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
  END
END

HELPSUBTABLE ID_O_DEBUGFORM
BEGIN
END
