#include "O_NAMES.RCH"

DLGTEMPLATE ID_O_NAMESFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_O_NAMESFORM,
            0,0,210,107,
            NOT FS_DLGBORDER, 0
  BEGIN
    CONTROL "Host", 1011,
            6,61,36,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "Port", 1003,
            6,48,36,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "Name", 1002,
            6,74,36,9,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "", NAME_NAMES,
            42,74,162,9,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
            CTLDATA 12,64,0,0,0,0
    CONTROL "", HOST_NAMES,
            42,61,162,9,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
            CTLDATA 12,256,0,0,0,0
    CONTROL "", NAMES_CONTAINER,
            6,3,198,42,
            WC_CONTAINER, WS_VISIBLE | WS_CLIPCHILDREN | WS_TABSTOP | 0x00000039 
            CTLDATA 264,0,4,0,32,0,34132,0,20,1,67,0,24,0,0,0,37476,
                    4808,0,0,25417,28271,0,0,0,5,4,553,1,35328,8,68,
                    32,10,1003,65535,32,0,35857,0,20,1,44265,7123,
                    32,0,0,0,0,0,0,0,24910,25965,0,6,0,547,8,35330,
                    40,83,160,11,1000,65535,535,0,32,0,35857,0,20,
                    1,6,0,40,0,0,0,68,160,100,0,28488,29811,0,511,
                    0,35330,8,52,56,11,1004,65535,65535,0,0,0,32,0,
                    35857,0,20,1,446,25,48,0,0,0,42,1005,60,0,28496,
                    29810,0,35330,72,52,40,10,1006,65535,65535,0,0,
                    0,3,15
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Sort", SORT_NAMES,
            8,96,40,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Last name first", LAST_NAMES,
            8,87,80,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"9.Helv"
    CONTROL "Delete", DELETE_NAMES,
            120,48,42,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Modify", MODIFY_NAMES,
            162,48,42,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Add", ADD_NAMES,
            84,48,36,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000400 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Port 6711", P6711_NAMES,
            95,87,60,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", PORT_NAMES,
            42,48,36,9,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,32,0,0,0,0
    CONTROL "Reverse Lookup: IP ->Host", REVERSELOOKUP_NAMES,
            95,97,100,8,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_O_NAMESFORM
BEGIN
END
