#include "O_USER.RCH"

DLGTEMPLATE ID_O_USERFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_O_USERFORM,
            0,0,210,101,
            NOT FS_DLGBORDER, 0
  BEGIN
    CONTROL "", O_USER_NAME,
            16,47,176,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,32,0,0,0,0
    CONTROL "Enter your name", 1001,
            8,42,192,31,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "", O_USER_IP,
            16,10,176,11,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
    CONTROL "FYI: Your host", 1003,
            8,5,192,31,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
  END
END

HELPSUBTABLE ID_O_USERFORM
BEGIN
END
