#include "POPUP.RCH"

DLGTEMPLATE ID_POPUPFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_POPUPFORM,
            0,0,230,90,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MAXBUTTON | FCF_MINBUTTON | FCF_ACCELTABLE | FCF_MENU 
  BEGIN
  END
END

MENU ID_POPUPFORM PRELOAD
BEGIN
  MENUITEM "~Send", PUM_SEND, MIS_TEXT
  MENUITEM "~Config", PUM_CONFIG, MIS_TEXT
  MENUITEM "C~lear", PUM_CLEAR, MIS_TEXT
  MENUITEM "~About", PUM_ABOUT, MIS_TEXT
  MENUITEM "", -1, MIS_SEPARATOR
  MENUITEM "~Maximize", PUM_MAXIMIZE, MIS_TEXT
  MENUITEM "E~xit", PUM_EXIT, MIS_TEXT
END
ACCELTABLE ID_POPUPFORM
BEGIN
  "S", PUM_SEND , CHAR
  "s", PUM_SEND , CHAR
  "C", PUM_CONFIG , CHAR
  "c", PUM_CONFIG , CHAR
END
HELPSUBTABLE ID_POPUPFORM
BEGIN
END
