#include "REPLY.RCH"

DLGTEMPLATE ID_REPLYFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Reply To:", ID_REPLYFORM,
            0,0,226,101,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "", REPLY_TEXT,
            16,21,200,47,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000007 
    CONTROL "", REPLY_TO,
            24,78,184,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x10101
    CONTROL "Reply to:", 1002,
            16,73,200,21,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "Send", SEND_REPLY,
            16,5,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Cancel", 1004,
            64,5,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "", REPLY_ERROR,
            112,5,104,11,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_REPLYFORM
BEGIN
END
ICON ID_REPLYFORM "D:\\PROJECTS\\STICKY2\\STICKY2.ICO"
