#include "Send.RCH"

DLGTEMPLATE ID_SENDFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Send Note", ID_SENDFORM,
            0,0,256,130,
            0,  FCF_NOBYTEALIGN | FCF_DLGBORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "Send", 1000,
            156,0,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "", SEND_TEXT,
            13,20,234,40,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000007 
    CONTROL "", ERROR_TEXT,
            13,0,130,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Close", SEND_CANCEL,
            208,0,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Note to:", 1001,
            13,120,52,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "Note to send", 1006,
            13,60,65,10,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
    CONTROL "", IP_CONTAINER,
            26,70,221,50,
            WC_CONTAINER, WS_VISIBLE | WS_CLIPCHILDREN | WS_TABSTOP | 0x00000039 
            CTLDATA 264,0,4,0,32,0,34129,0,20,1,67,0,24,0,0,0,28924,
                    4810,0,0,25417,28271,28160,25955,108,16,0,15,0,
                    8,0,11832,25928,30316,0,0,32,0,35857,0,20,1,497,
                    32768,32,0,0,0,0,0,0,0,24910,25965,0,0,0,0,0,0,
                    0,0,0,0,0,0,0,0,32,0,35857,0,20,1,35857,0,40,0,
                    0,0,40,0,150,0,28488,29811,0,0,0,0,0,0,0,0,0,0,
                    0,0,0,0,32,0,35857,0,20,1,34065,0,48,0,0,0,24,
                    0,50,0,28496,29810,0,0,0,0,0,0,0,0,0,0,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_SENDFORM
BEGIN
  HELPSUBITEM  1000, 1110
  HELPSUBITEM  SEND_CANCEL, 1120
  HELPSUBITEM  IP_CONTAINER, 1130
END
ICON ID_SENDFORM "D:\\PROJECTS\\STICKY2\\STICKY3.ICO"
