#include "STICKY.RCH"

DLGTEMPLATE ID_STICKYFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_STICKYFORM,
            0,0,221,120,
            0,  FCF_NOBYTEALIGN | FCF_DLGBORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MINBUTTON | FCF_ICON 
  BEGIN
    CONTROL "Note From:", NOTE_FROM_TXT,
            8,94,200,21,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "", NOTE_FROM,
            16,99,184,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x10101
    CONTROL "", NOTE_NOTE,
            16,31,184,47,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000017 
    CONTROL "Close", NOTE_CLEAR,
            168,5,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000400 
    CONTROL "Reply", NOTE_REPLY,
            120,5,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Reply Include", NOTE_REPLYWITH,
            50,5,65,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Host", NOTE_HOST,
            8,26,200,62,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
  END
END

HELPSUBTABLE ID_STICKYFORM
BEGIN
END
ICON ID_STICKYFORM "D:\\PROJECTS\\STICKY2\\STICKY.ICO"
